/* Import font dari Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* CSS Reset dan pengaturan global */
* {
    margin: 0; /* Nol margin */
    padding: 0; /* Nol padding */
    box-sizing: border-box; /* Box-sizing border-box */
    text-decoration: none; /* Tanpa dekorasi teks */
    border: none; /* Tanpa border */
    outline: none; /* Tanpa outline */
    scroll-behavior: smooth; /* Perilaku scroll smooth */
    font-family: 'Nunito', sans-serif; /* Font family default */
}

/* Variabel untuk warna yang dapat digunakan di seluruh CSS */
:root {
    --bgcolor: #191f36; /* Warna latar belakang */
    --snd-bg-color: #262b40; /* Warna latar belakang kedua */
    --text-color: #fff; /* Warna teks */
    --main-color: #59b2f4; /* Warna utama */
}

/* Pengaturan ukuran font root */
html {
    font-size: 10px; /* 10px dari ukuran font root */
    overflow-x: hidden; /* Sembunyikan scroll horizontal */
}

/* Pengaturan latar belakang dan warna teks body */
body {
    background: var(--bgcolor); /* Warna latar belakang body */
    color: var(--text-color); /* Warna teks body */
}

section {
    min-height: 100vh; /* Tinggi minimum 100 viewport height */
    padding: 5rem 9% 5rem; /* Padding atas, kanan, bawah */
}
/* Pengaturan header */
.header {
    position: fixed; /* Posisi tetap */
    top: 0; /* Atas 0 */
    left: 0; /* Kiri 0 */
    width: 100%; /* Lebar 100% */
    padding: 2rem 9%; /* Padding atas dan bawah */
    background: #242b39; /* Warna latar belakang */
    display: flex; /* Tampilan flex */
    justify-content: space-between; /* Justify-content space-between */
    align-items: center; /* Align-items center */
    z-index: 100; /* Z-index 100 */
}

/* Pengaturan logo */
.logo {
    font-size: 2.5rem; /* Ukuran font logo */
    color: var(--text-color); /* Warna teks logo */
    font-weight: 700; /* Ketebalan font logo */
    cursor: default; /* Kursor default */
}

/* Pengaturan link navbar */
.navbar a {
    font-size: 2rem; /* Ukuran font link navbar */
    color: var(--text-color); /* Warna teks link navbar */
    margin-left: 4rem; /* Margin kiri link navbar */
    font-weight: 700; /* Ketebalan font link navbar */
}

/* Pengaturan hover dan active pada link navbar */
.navbar a:hover,
.navbar a.active {
    color: var(--main-color); /* Warna utama pada hover/active */
}

/* Pengaturan icon menu */
#menu-icon {
    font-size: 3.6rem; /* Ukuran font icon menu */
    color: var(--text-color); /* Warna teks icon menu */
    display: none; /* Sembunyikan icon menu */
}

/* Pengaturan konten halaman home */
.home {
    display: flex; /* Tampilan flex */
    justify-content: center; /* Justify-content center */
    align-items: center; /* Align-items center */
    text-align: center;
    gap: 1cm; /* Jarak antar elemen */
}

/* Pengaturan judul h3 pada home */
.home-content h3 {
    font-size: 8rem; /* Ukuran font h3 */
    font-weight: 700; /* Ketebalan font h3 */
}

/* Pengaturan judul h1 pada home */
.home-content h1 {
    font-size: 6rem; /* Ukuran font h1 */
    font-weight: 700; /* Ketebalan font h1 */
    line-height: 1.3; /* Line-height 1.3 */
}

/* Pengaturan konten pada halaman home */
.home-content h2 {
    font-size: 3rem; /* Ukuran font paragraf */
    text-align: center; /* Rata kanan kiri */
    padding-top: 24px;
}

/* Pengaturan warna span */
span {
    color: var(--main-color); /* Warna span */
}


/* Pengaturan halaman about */
.about {
    display: flex; /* Tampilan flex */
    justify-content: center; /* Justify-content center */
    align-items: center; /* Align-items center */
    gap: 2rem; /* Jarak antar elemen */
    background: var(--snd-bg-color); /* Warna latar belakang */
}

/* Pengaturan gambar pada halaman about */
.about-img img {
    width: 35vw; /* Lebar gambar 35% dari viewport width */
    height: auto; 
    border: 10px solid rgb(248, 248, 248); 
}

/* Pengaturan judul pada halaman about */
.heading {
    text-align: center; /* Rata tengah */
    font-size: 6rem; /* Ukuran font */
}

/* Pengaturan konten pada halaman about */
.about-content h2 {
    text-align: left; /* Rata kiri */
    line-height: 6rem; /* Line-height 6rem */
}

.about-content p {
    font-size: 1.6rem; /* Ukuran font paragraf */
    margin: 2rem 0 3rem; /* Margin */
    text-align: justify; /* Rata kanan kiri */
}

/* Pengaturan tombol */
.btn {
    display: inline-block; /* Tampilan inline-block */
    padding: 1rem 2.8rem; /* Padding atas bawah dan kanan kiri */
    background: var(--main-color); /* Warna latar belakang */
    border-radius: 4rem; /* Border-radius 4rem */
    box-shadow: 0 0 1rem var(--main-color); /* Bayangan */
    font-size: 1.6rem; /* Ukuran font */
    color: var(--bgcolor); /* Warna teks */
    letter-spacing: .1rem; /* Spasi antar huruf */
    font-weight: 600; /* Ketebalan font */
    transition: .5s ease; /* Transisi */
}

/* Hover pada tombol */
.btn:hover {
    box-shadow: none; /* Hapus bayangan */
}

/* Pengaturan kontainer services */
.services-container {
    display: flex; /* Tampilan flex */
    justify-content: center; /* Justify-content center */
    align-items: center; /* Align-items center */
    flex-wrap: wrap; /* Flex-wrap wrap */
    gap: 2rem; /* Jarak antar elemen */
}

/* Pengaturan kotak services */
.services-container .services-box {
    flex: 1 1 30rem; /* Flex-grow, flex-shrink, flex-basis */
    background: var(--snd-bg-color); /* Warna latar belakang */
    padding: 3rem 2rem 4rem; /* Padding atas, kanan, bawah */
    border-radius: 2rem; /* Border-radius 2rem */
    text-align: center; /* Rata tengah */
    border: .2rem solid var(--bgcolor); /* Border dengan warna latar belakang */
    transition: .5s ease; /* Transisi */
}

/* Hover pada kotak services */
.services-container .services-box:hover {
    border-color: var(--main-color); /* Warna border pada hover */
    transform: scale(1.02); /* Transisi scaling */
}

/* Pengaturan footer */
.footer {
    display: flex; /* Tampilan flex */
    justify-content: space-between; /* Justify-content space-between */
    flex-wrap: wrap; /* Flex-wrap wrap */
    padding: 2rem 9%; /* Padding atas bawah dan kanan kiri */
    background: var(--snd-bg-color); /* Warna latar belakang */
}

/* Pengaturan teks footer */
.footer-text {
    font-size: 1.7rem;
    padding-left: 500px;
    align-items: right; /* Align-items center */
    text-align: right;
}

#map {
    width: 100%;
    height: 100vh;
}
